*{
    padding: 0;
    margin: 0;
    font-size: 15px;
    box-sizing:border-box;
}
.one{
    background-color:salmon;
    padding: 20px;
    border: 40px solid chocolate;
    margin: 50px;
    height: 100px;
    width: 100px;
}
.two{
    background-color:magenta;
    padding:20px;
    border: 40px solid salmon;
    margin: 50px;
    height: 100px;
    width: 100px;
}